@model Library.ViewModels.OrdersViewModel
@{
    string str = ",";
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">UserID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Zipcode</th>
            <th scope="col">BookID</th>
        </tr>
    </thead>

    @foreach (var activeusers in Model.user)
    {
<tr>
    <th scope="row">@activeusers.user_id</th>
    <td>@activeusers.user_name</td>
    <td>@activeusers.user_address</td>
    <td>@activeusers.user_zipcode</td>
    <td>
        @foreach (var rentedbooks in Model.book)
        {

            if (rentedbooks.users_user_id == activeusers.user_id)
            {
                @rentedbooks.books_book_id 
                @str

            }
        }
    </td>
    </tr>
       
    }
</table>

