@model Library.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "User";
     string str = ","; 
}


<h2>Profile Information</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username:
        </dt>
        <dd>
            @Model.User.user_name
        </dd>
        <dt>
            Age:
        </dt>
        <dd>
            @Model.User.user_age
        </dd>
        <dt>
            Address:
        </dt>
        <dd>
            @Model.User.user_address
        </dd>
        <dt>
            Zipcode:
        </dt>
        <dd>
            @Model.User.user_zipcode
        </dd>
        <dt>
            Mail:
        </dt>
        <dd>
            @Model.User.user_mail
        </dd>
        <dd>
            @foreach (var books in Model.book)
            {    
                @books.books_book_id 
                @str
                
            }
        </dd>
    </dl>
           
</div>
<div>
        @Html.ActionLink("Back to Homepage", "Index") 
</div>
