@model Library.Models.User

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
